.HomeComponent {
    background-color: black;
}
.titleBackgroundImage{
    flex: 1;
    width: 1366px;
    z-index: -1;
}
.titleText{
    color: #fff;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 11%;
    width: 80%;
}
.biggerFontTitle{
    font-size: 90px;
}
.downArrowDiv{
    margin-top: 2.5em;
    text-align: center;
}