.Projects {
    padding: 7em 10% 0 10%;
    background-color: #e1e1e1;
}
.Title{
    text-align: center;
}
.project_container{
    display: flex;
    margin-top: 3em;
    justify-content: space-evenly;
}